<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function updateTijdveld() {
            const nu = new Date();
            const tijd = nu.toLocaleTimeString('nl-NL');  // bijv. 14:03:05
            document.getElementById("tijdveld").value = tijd;
        }
        setInterval(updateTijdveld, 1000);
        updateTijdveld();  // meteen starten



        </script>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <div align='left'> <h2>Radio Log</h2></div>
        
    
        <table >
            <tr>
                <td>Incident Naam:</td>
                <td> {{ laatste.incident_naam }}</td>
            </tr>
            <tr>
                <td>Nr:</td>
                <td>{{ laatste.incident_nr }}</td>
            </tr>
            <tr>
                <td>Datum:</td>
                <td>{% now "d-m-Y" %}</td>
            </tr><tr>
            <td>Locatie:</td>
            <td>{{laatste.locatie}}</td>
            </tr>
            <tr><td></td></tr>
        </table>

 <table style="width:100%" >

  <tr>
    <td>Tijd:</td>
    <td align="left">Team:</td>
    
  </tr>
    <tr>
    <td><input type="text" name="tijd" id="tijdveld" readonly></td>
    <td><input type="text" name="team" required></td>
    
  </tr>
    <tr>
    <td colspan="2">Bericht:</td>
   
  </tr>
      <tr>
    <td colspan="2"><input type="text" name="bericht"  style="width:95%" required></td>
   
  </tr>
</table>
        <input type="hidden" name="datum" value="{% now "Ymd" %}">
        <input type="hidden" name="incident_nr" value ="{{ laatste.incident_nr}}" required >
        <input type="hidden" name="incident_naam" value ="{{ laatste.incident_naam}}" required >
        <input type="hidden" name="locatie" value="{{laatste.locatie}}" required >
        <br>
        <br>
        <button type="submit">Verstuur</button>
    </form>

    <h2>Logboek</h2>
    <table border="1" width="100%">
        <tr align="left">
            <th>Nr</th>
            <th>Tijd</th>
            <th>Team</th>
            <th>Bericht</th>
        </tr>
        {% for log in form133next%}
            <tr>
                <td>{{ log.incident_nr }}</td>
                <td>{{ log.tijd }}</td>
                <td>{{ log.team }}</td>
                <td>{{ log.bericht }}</td>
            </tr>
        {% endfor %}
    </table>
    </ul>
</body>
</html>